apiVersion: v1
kind: ConfigMap
metadata:
  name: consumer-cm
data:
  consume.sh: |
    echo "Reading checksums"
    md5sum $FILE_NAME > /tmp/data/consumer.md5
    chk1=$(cat /tmp/data/producer.md5)
    chk2=$(cat /tmp/data/consumer.md5)
    echo "chk1 $chk1"
    echo "chk2 $chk2"
    if [ "$chk1" != "$chk2" ]
    then
      echo "File is not identical"
      exit 1
    else
      echo "File is identical"
    fi
