apiVersion: v1
kind: ConfigMap
metadata:
  name: producer-cm
data:
  produce.sh: |
    echo "writing to file $FILE_NAME"
    dd if=/dev/urandom of=$FILE_NAME bs=2M count=1024 {{ options }}
    md5sum $FILE_NAME > /tmp/data/producer.md5
